html, body{
    height: 100%;
}

.header {
    background-color: red;
    height: 20vh;
    width: 100%;
    padding: 1ch;
    margin: 1ch;
}

.main-container {
    display: grid;
    height: 50vh;
    width: 100%;
}

.body {
    background-color: green;
    height: 90%;
    max-width: 50vw;
    padding: 1ch;
    margin: 1ch;
    justify-self: center;
}

.data {
    overflow-wrap: break-word;
}

.footer {
    background-color: blue;
    grid-row: 3;
    height: 10vh;
    width: 100%;
    padding: 1ch;
    margin: 1ch;
}